<div class="container">
  <div class="pets-nearby-list">
    <div class="nearby-top">
      <h3 class="nearby-list-title">Nearby</h3>
      <p>SEE ALL</p>
    </div>
    <div class="nearby-bottom">
      <div class="pets-card-small">
        <%= image_tag asset_path 'corgi_test.jpg' %>
        <p><%= @pets.first.name %></p>
        <div class="pet-distance">
          <i class="fas fa-location-arrow"></i>
          <p>1.7km away</p>
        </div>
      </div>
    </div>
  </div>
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet[:id]) do %>
      <div class="pet-card-big" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path 'corgi_test.jpg'%>');background-position: center;background-size: cover;">
        <div class="pet-info-wrapper">
          <%# cl_image_tag pet.pet_pic.key, height: 300, width: 400, crop: :fill  %>
          <div class="pet-info">
            <h4><%= pet.name %></h4>
            <p><%= pet.breed %></p>
          </div>
          <div class="pet-distance">
            <i class="fas fa-location-arrow"></i>
            <p>1.7km</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
