<div class="container">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet[:id]) do %>
      <div class="pet-card">
        <%= cl_image_tag pet.pet_pics.first.key, height: 300, width: 400, crop: :fill %>
        <h4><%= pet.name %></h4>
        <p><%= pet.species %></p>
        <p><%= pet.description %></p>
      </div>
    <% end %>
  <% end %>
</div>
