<% if policy(Pet).create? %>
  <%= link_to "Add your pet(s)", new_pet_path %>
<% end %>

<div class="w-100 d-none d-lg-block">
  <div class="m-5">
    <div class="col-lg-6 offset-lg-3">
      <%= link_to "Home", pets_path %>
      <i class="fas fa-angle-right"></i><span> Add your pet</span>
      <h2>Add your pet</h2>
  </div>
    <div style="background-color: white; padding: 40px; border-radius: 3px; box-shadow: 2px 5px 15px rgba(0,0,0,0.1)" class="col-lg-6 offset-lg-3">
      <%= render 'shared/simple_form' %>
    </div>
  </div>
</div>

<div class="w-100 d-block d-lg-none">
  <div class="mt-5">
    <div class="p-3">
      <%= link_to pets_path do %>
        <p><i class="fas fa-angle-left"></i> Home</p>
      <% end %>
     <h2 class="text-center pb-4">Add your pet</h2>
    </div>
    <div style="background-color: white; padding: 50px; width:100%;">
      <%= render 'shared/simple_form' %>
    </div>
  </div>
</div>
