<div class="container top-margin">
  <div class="row">
    <div class="col-lg-8">
      <div class="pet-details">
        <div class="show-card" style="background-position: center;background-size: cover;background-image: url('<%= cl_image_path @pet.pet_pics.first.key%>')">
        <h1><span><%= @pet.name %></span></h1>
        </div>
        <div class="flex">
          <div class="pet-species-breed subcards">
            <p><span>Species: </span> <br> <%= @pet.species.capitalize %></p>
            <p><span>Breed: </span> <br> <%= @pet.breed.capitalize %></p>
          </div>
          <h3 class="subcards"><span>Owner: </span> <br> <%= User.find(@pet.user_id).name %></h3>
        </div>
        <div class="pet-location subcards">
          <p><span>Location: </span></p>
          <%# <img src="https://res.cloudinary.com/drrsxyfop/image/upload/v1627102709/Screenshot_2021-07-17_at_17.32.26_udzddf.png" alt="" class="mapbox"> %>
          <div id="map"
            style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
        <div class="pet-description subcards">
          <p><span>Description:</span> </p>
          <p><%= @pet.description %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4" style="position: sticky; top: 20px;">
    <div class="flex-inline" style="margin-top: 100px; position: sticky; top: 7rem;">
      <div class="booking-panel" >
        <%= simple_form_for [@pet, @booking] do |f| %>
          <x-calendar available-dates="<%= @pet_schedules %>" output-name="booking-dates" />
          <%= f.submit "Woof", class: 'btn btn-outline-primary my-2 my-sm-0' %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
