<div class="container top-margin">
  <div class="show-card-wrapper">
    <div class="show-card" style="background-position: center;background-size: cover;background-image: url('<%= cl_image_path @pet.pet_pics.first.key%>')">
  </div>
  <div class="carousel">
    <div class="owl-carousel owl-theme">
      <% @pet.pet_pics.each_with_index do |pet_pic, index| %>
        <div class="item" data-hash='<%= index %>'>
          <img src="<%= cl_image_path pet_pic.key %>" alt="photo">
        </div>
      <% end %>
    </div>
  </div>
  <div class="pet-details-wrapper">
    <div class="pet-details-column">
      <div class="details-name-breed">
        <h2><%= @pet.name %></h2>
        <p><span>Breed: </span> <%= @pet.breed.capitalize %></p>
      </div>
      <div class="line"></div>
      <div class="details-description">
        <p><span>Description:</span></p>
        <p><%= @pet.description %></p>
      </div>
      <div class="line"></div>
      <div class="description-owner">
        <p><span>Owner: </span> <%= User.find(@pet.user_id).name %></p>
        <p><span>Address: </span> <%= User.find(@pet.user_id).address %></p>
      </div>
      <div class="line"></div>
      <div class="pet-location">
        <p><span>Location:</span></p>
        <div id="map"
          style="width: 100%; height: 400px; margin-top: 15px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="calendar">
      <div class="flex-inline" style="position: sticky; top: 7rem;">
        <h3>Check <%= @pet.name %>'s availability!</h3>
        <div class="booking-panel" >
          <%= simple_form_for [@pet, @booking] do |f| %>
            <x-calendar available-dates="<%= @pet_schedules %>" output-name="booking-dates" />
            <%= f.submit "Woof", class: 'btn btn-outline-primary my-2 my-sm-0' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
