<%= simple_form_for(@pet) do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <%= f.input :breed %>
  <div id="your_preview_id"></div>
  <div class="upload-box">
    <%= f.input :pet_pics, as: :file, input_html: { multiple: true }, required: true  %>
    <% if @pet.pet_pics.attached? %>
      <image src="<%= url_for(@pet.pet.pics.first) %>">
    <% end %>
    <i class="far fa-image"></i>
    <p>Add picture(s)</p>
  </div>
  <%= f.input :description, as: :text, input_html: {rows: 8}%>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
