<div class="parallax" style="background-image: url(<%= asset_path 'parallax_bg.jpg' %>)">
  <div class="banner-content animated fadeInUp">
    <div class="banner-text">
      <h1>Become a petsitter!</h1>
      <p>
        Do you want to take care of a cute dog? <br> How about playing for a few hours with a cat?
      </p>
    </div>
    <div class="div">
      <div class="bannrer-cta">
        <%= link_to "Find a pet!", pets_path %>
      </div>
    </div>
  </div>
</div>
<div style="height: 300px; border: 1px solid red"></div>
<div class="about-wrapper" style="border: 1px solid red">
  <div class="about-left">
    <%= image_tag(asset_path 'pets_group.png') %>
  </div>
  <div class="about-right">
    <h2>Why Pettoren?</h2>
    <div class="services-wrapper">
      <div class="service">
        <div class="icon-wrapper">
          <div class="icon d-flex align-items-center justify-content-center">
            <%= image_tag(asset_path 'nearby.png') %>
          </div>
        </div>
        <div class="text">
          <h4>Find nearby pets</h4>
          <p>Find pets using search bar, filters or distace sliders. You are we find new friend for sure!</p>
        </div>
      </div>
      <div class="service">
        <div class="icon-wrapper">
          <div class="icon d-flex align-items-center justify-content-center">
            <%= image_tag(asset_path 'pet.png') %>
          </div>
        </div>
        <div class="text">
          <h4>Choose the pet</h4>
          <p>Learn more about the pet and it's availability. Check out all the cute photos too!</p>
        </div>
      </div>
      <div class="service">
      <div class="icon-wrapper">
        <div class="icon d-flex align-items-center justify-content-center">
          <%= image_tag(asset_path 'booking.png') %>
        </div>
      </div>
        <div class="text">
          <h4>Book your pet</h4>
          <p>Book the pet you like according to your schedule. Don't worry, you will find an open day.</p>
        </div>
      </div>
      <div class="service">
        <div class="icon-wrapper">
          <div class="icon d-flex align-items-center justify-content-center">
            <%= image_tag(asset_path 'dashboard-interface.png') %>
          </div>
        </div>
        <div class="text">
          <h4>Manage booking</h4>
          <p>Check the status of your booking in your dashboard. Is your booking still pending?</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="statistics">
  <div class="stat">
    <div class="stat-number"><span id="user-count" data-count="<%= User.count %>"></span></div>
    <div class="stat-text">Users</div>
  </div>
  <div class="stat">
    <div class="stat-number"> <span id="pet-count" data-count="<%= Pet.count %>"></span></div>
    <div class="stat-text">Pets</div>
  </div>
  <div class="stat">
    <% pics_number = 0 %>
    <% Pet.all.each do |pet| %>
    <% pics_number += pet.pet_pics.count %>
    <% end %>
    <div class="stat-number"><span id="pic-count" data-count=" <%= pics_number %> "></span></div>
    <div class="stat-text">Pets pictures</div>
  </div>
</div>