<div class="top-box" />
<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="dashboard-user">
        <div class="user-avatar-box">
          <%= cl_image_tag @user.user_pic.key, class: :"user-avatar", crop: :fill %>
        </div>
        <h3><%= @user.name.capitalize %></h3>
      </div>
    </div>
    <div class="col-12 col-lg-9">
      <div class="dashboard-content">
        <div class="content-titles" >
          <%= link_to dashboard_pets_path do %>
            <h5>Pets</h5>
          <% end %>
          <%= link_to dashboard_bookings_path do %>
            <h5>Bookings</h5>
          <% end %>
          <%= link_to dashboard_requests_path do %>
            <h5>Booking requests</h5>
          <% end %>
          <div class="content-show">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-container">
  <div class="row">
    <div class="col-12 col-lg-9 offset-lg-4">
      <div class="content-pets">
        <% if @user.pets.empty? %>
          <div class="my-pets-card">
            <p>HI</p>
            <%= link_to "➕Add", new_pet_path %>
          </div>
        <% else %>
          <% @user.pets.each do |pet| %>
            <div class="my-pets-card">
              <%= cl_image_tag pet.pet_pics.first.key, crop: :fill %>
              <div class="my-pets-card-info">
                <h5><%= pet.name %></h5>
                <p><h5><%= pet.description %></h5></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
