<!DOCTYPE html>
<html>
  <head>
    <title>Pettoren</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>

    <%= favicon_link_tag("dog_head.png") %>
  </head>

  <body>
    <% unless controller.controller_name == "pages" && controller.action_name == "home" %>
        <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <main>
      <p style="margin-bottom: 0px;"><%= notice %></p>
      <p style="margin-bottom: 0px;"><%= alert %></p>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
